.wrapper{
    max-height: 350px; 
    max-width: 500px;
    background: linear-gradient(to bottom, #ffcccc 0%, #8aa6fb 100%);    border-radius: 15px;
    border: 5px solid rgb(51, 59, 204);
    padding: 30px;
}