.wrapper {
  height: 84.3vh;
  width: 99.7vw;
  background-repeat: no-repeat;
  background-image: url("https://cdn.pixabay.com/photo/2017/05/20/20/22/clouds-2329680__340.jpg");
  background-size: cover;
}
.main_container {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  height: 500px;
  width: 100%;
}
.input {
  font-size: 25px;
  border-radius: 20px;
  width: 32rem;
  height: 4rem;
}
.search_btn {
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 3rem;
  margin-top: 1rem;
}
